*.bag
*.jpeg*
*.jpg*
*.png
*.pth
*.zip
*.csv
*.txt
*.db
__pycache__/
**/__pycache__
*.pyc
server/engines/sfm_docker/sfm/
*.ini
*.bin
*.txt
*.~lock*
*/raw_images/*
*/sent_batches/*
client/nodes/crosswalk_docker_with_heading_and_group/raw_images
*/img_bank_new/*
*/cluster_bank/*
*/unprocessed/*
*/server/engines/sfm_docker/sfm/*
*.h5
